@font-face {
    font-family: 'Myriad Pro';
    src: url('files/MyriadPro-Regular.eot');
    src: url("files/MyriadPro-Regular.woff") format("woff"),
    url("files/MyriadPro-Regular.otf") format("opentype"),
    url("files/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 18px;
}

:root {

    --PrimarySetup: #0892ff;
    --PrimaryArmed: #ef073f;
    --DarkBG:       #181818;
    --LightBG:      #202020;
    --PrimaryCurr:  var(--PrimarySetup);
}

body {
    background:none;
    width: max-content;
}

svg {
    fill: var(--PrimaryCurr);
    stroke: var(--PrimaryCurr);
    stroke-width: 1px;
    transition: opacity .1s linear, transform .1s linear, fill .1s linear;
}

svg path {
    stroke-linejoin: round;
    stroke-linecap: round;
    transition: stroke .1s linear;
}

#shadow-wrap {
    padding: 0px 20px 20px 20px;
}

header {
    width: 470px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
}

header > svg {
    width:20px;
    height:20px;
    opacity: 0;
    stroke: none;
    transform: translate(0px, 5px);
    filter: drop-shadow(0px 0px 1px black);
}

#refMove {
    transform: none;
    opacity: 100%; 
    -webkit-app-region: drag;
    cursor:move;
}

#dot, #dot:hover {
    cursor: default;
    transform: none;
}

header:hover > svg {
    opacity: 100%;
    transform: translate(0px, 0px);
}

header:hover > svg:hover {
    transform: translate(0px, -2px);
    fill: white;
    cursor: pointer;
}

#content-wrap {
    overflow-y: hidden;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5); 
    border-radius: 8px;
    height: 95px;
    background: var(--DarkBG);
    padding: 10px;
}

/*  -webkit-app-region: drag;
