.tab_border {
	padding: 10px 2px 2px 2px;
	background: var(--blue-grad);
	border-radius: 8px;
	transition: box-shadow 0.2s ease-in-out;
}

.tab {
	width: 285px;
	padding: 45px 35px 30px 35px;
	background-color: var(--tab-grey);
	height:max-content;
	border-radius: 8px;
	box-shadow: 0 0 50px 0 #0e0d1a inset;
}

.tab > *:not(:first-child, :last-child) {
	margin-bottom: 12px;
}

.tab > #steps {
    margin-right: -35px;
    overflow: hidden scroll;
    padding-right: 30px;
    max-height: 400px;
}

.tab_border.red {background: var(--red-grad);}
.tab_border.red:hover {box-shadow: 0 0 50px 0 #551B00;}
.tab_border.red > .tab > #steps::-webkit-scrollbar-thumb {background-color: var(--red);}
.tab_border.red > .tab > #steps {scrollbar-color: var(--red) transparent}

.tab_border.green {background: var(--green-grad);}
.tab_border.green:hover {box-shadow: 0 0 50px 0 #023d00;}
.tab_border.green #steps::-webkit-scrollbar-thumb {background-color: var(--green);}
.tab_border.green > .tab > #steps {scrollbar-color: var(--green) transparent}

.tab_border:not(:last-child) {margin-right: 42px;}

.tab h1 {
	text-transform: capitalize;
	margin-bottom: 24px !important;
}

.tab_border:first-child ul {
	list-style: none;
	margin-left: 0;
	font-size: 16px;
}

li>img {
	vertical-align: middle;
	height: 24px;
	margin-right: 12px;
    filter: brightness(0.5) sepia(1) saturate(90) hue-rotate(265deg);
}

.step:not(:last-child) {
	margin-bottom: 12px;
}

input[type="checkbox"] {
	margin-right: 0.5em;
}

.step_headline {
	display: flex;
	align-items: baseline;
	margin-bottom: 6px;
}

ul {
	/* margin-left: 1.5em; */
}

.task li {
	margin-bottom: 6px;
}