.tab_border {
	padding: 6px 2px 2px 2px;
	background: var(--blue-grad);
	border-radius: 8px;
}

.tab {
	width: 285px;
	padding: 45px 35px 30px 35px;
	background-color: var(--tab-grey);
	height:max-content;
	border-radius: 8px;
}

.tab > *:not(:first-child, :last-child) {
	margin-bottom: 12px;
}

.tab_border.red {background: var(--red-grad);}
.tab_border.green {background: var(--green-grad);}
.tab_border:not(:last-child) {margin-right: 42px;}

.tab h1 {
	text-transform: capitalize;
}

.tab_border:first-child ul {
	list-style: none;
	margin-left: 0;
	font-size: 16px;
}

li>img {
	vertical-align: middle;
	height: 24px;
	margin-right: 12px;
    filter: brightness(0.5) sepia(1) saturate(90) hue-rotate(265deg);
}

.step:not(:last-child) {
	margin-bottom: 12px;
}

input[type="checkbox"] {
	margin-right: 0.5em;
}

.step_headline {
	display: flex;
	align-items: baseline;
	margin-bottom: 6px;
}

ul {
	margin-left: 1.5em;
}

.task li {
	margin-bottom: 6px;
}