#menu {width: 48px;}

#menu > button, #menu > button.default {
	width: 48px; height: 48px;
	margin: 8px 0;
	border-radius: 8px;
	border: 2px solid var(--purple);
	background-color: var(--tab-grey);
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
	position: relative;
}

#menu > button.workgroup {
	border: none;
}

#menu > button:nth-child(1) {background-image: url(../../assets/add.svg);}
#menu > button:nth-last-child(2) {background-image: url(../../assets/settings.svg);}
#menu > button:nth-last-child(1) {background-image: url(../../assets/cross.svg);}

#menu > button.bell {background: center/60% no-repeat url(../../assets/alert.svg), var(--blue-grad);}
#menu > button.plane {background: center/60% no-repeat url(../../assets/airplane.svg), var(--blue-grad);}
#menu > button.time {background: center/60% no-repeat url(../../assets/wristwatch.svg), var(--blue-grad);}
#menu > button.medal {background: center/60% no-repeat url(../../assets/medal.svg), var(--blue-grad);}
#menu > button.boat {background: center/60% no-repeat url(../../assets/boat.svg), var(--blue-grad);}

.tooltip {
	position: absolute;
	display: block;
	padding: .5em;
	background-color: var(--tab-grey);
	border: thin solid rgba(255,255,255,0.2);
	border-radius: 8px;
	left: 100%;
	top: 50%;
	transform: translate(10px, -50%);
	width: 100px;
	max-width: 250px;
	display: none;
	color: white;
	word-wrap: break-word;
	word-break: keep-all;
	z-index: 499;
}

#menu > button:hover >.tooltip {display: block;}

.separator {
	height: 5%;
	border-right: 5px dotted white
}