#messageBox {
	background-color: var(--tab-grey);
	position: absolute;
	border: 2px solid var(--purple);
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 16px;
	border-radius: 20px;
	background-size: 20px;
	background-position: 15px center;
	color: white;
	transition-property: border box-shadow;
	transition: 0.2s ease-in-out;
	display: none;
}

#messageBox.show {
	display: block;
}

#messageBox:hover {
	border-color: var(--purple-light);
	box-shadow: 0 0 20px 0 var(--purple);
}

#messageBox img {
	height: 20px;
}

#messageBox > span {
	max-width: 250px; color: white;margin: 0 12px;
}

#messageBox > * {
	display: inline-block;
	vertical-align: middle;
	margin: 0 4px;
}

#messageBox > input[type="checkbox"] {
	margin-right: 0.5em;
}