@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	color: var(--text-grey);
	font-size: 16px;
	scrollbar-width: thin;
	scrollbar-color: var(--purple) var(--dark-bg);
}

*::-webkit-scrollbar-track {background-color: var(--dark-bg);}
*::-webkit-scrollbar {width: 6px;height: 6px;}
*::-webkit-scrollbar-thumb {background-color: var(--purple);}

:root {
	--red-grad: linear-gradient(to right, var(--red2), var(--red));
	--blue-grad: linear-gradient(to right, var(--purple2), var(--purple));
	--green-grad: linear-gradient(to right, var(--green2), var(--green));
	--grey-grad: linear-gradient(to right, #141321, #272727);

	--purple-light: #a185ec;
	--purple: #536dff;
	--purple2: #7240fb;

	--red: #dd2251;
	--red2: #FF512F;

	--green: #00ff87;
	--green2: #10cb42;

	--text-grey: #6b6b88;
	--tab-grey: #1F1E31;
	--dark-bg: #0e011c;
	--light-bg: #4d4d66;
}

body {
	background: linear-gradient(to BOTTOM, var(--purple), #536dff);
	height: 100vh;
	padding: 9px;
}

#root {
	background-color: var(--dark-bg);
	border-radius: 8px;
	padding: 0 42px;
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
}

#menu, .separator {
	margin-right: 42px;
}

button, input[type='text'] {
	outline: none;
	border: none;
}

h1 {
	font-size: 32px;
	color: white;
}

h2 {
	font-size: 18px;
	color: white;
}

input[type="text"] {
	padding: 0.5em;
	background-color: var(--dark-bg);
	border-radius: 4px;
	color: white
}

input[type="text"]::placeholder {
	color: var(--text-grey) ;
	opacity: 1;
}

li {
	margin-bottom: 12px;
	display: inline-flex;
}

.white {color: white}