.tab_border {
	padding: 6px 2px 2px 2px;
	background: var(--blue-grad);
	border-radius: 8px;
}

.tab {
	width: 285px;
	padding: 45px 35px;
	background-color: var(--tab-grey);
	height:max-content;
	border-radius: 8px;
	/* border: solid var(--purple);
	border-width: 2px;
	border-top-width: 5px; */
}

.tab > *:not(:first-child) {
	margin-bottom: 12px;
}

.tab_border.red {background: var(--red-grad);}
.tab_border.green {background: var(--green-grad);}
.tab_border:not(:last-child) {margin-right: 42px;}

.tab h1 {
	text-transform: capitalize;
}

.tab_border:first-child ul, .tab_border:first-child ul>li, .tab_border:first-child ul>li>span {
	list-style: none;
	margin-left: 0;
	font-size: 16px;
}